@font-face{
    font-family: Sniglet;
    src: url('../fonts/Sniglet-webfont.woff'), 
         url('../fonts/Sniglet-webfont.ttf'), 
         url('../fonts/Sniglet-webfont.eot'),
         url('../fonts/Sniglet-webfont.svg'); 
} 

.sniglet {
    font: 11pt Sniglet, serif;
}

